body {
  background: url("https://i.pinimg.com/736x/e0/cd/62/e0cd629674776ec09a06628027a22d9a.jpg");
  background-size: cover;
  color: #544741;
  font-family: "Montserrat", sans-serif;
}
h1 {
  text-align: center;
  font-weight: 300;
  margin-top: 70px;
}
form {
  text-align: center;
  background-color: #a89389;
  color: #fff;
  border-radius: 20px;
  padding: 30px;
  margin: 60px auto;
  max-width: 400px;
}
.input {
  padding: 10px 40px;
  border: none;
  border-radius: 20px;
  background-color: #c2b0b6;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.submit {
  font-size: 20px;
  padding: 5px 15px;
  border: none;
  border-radius: 20px;
  color: #fff;
  background-color: #c2b0b6;
}
.example {
  display: flex;
  text-align: center;
  font-size: 14px;
  margin: 0 0 10px 35px;
  margin-top: 5px;
  opacity: 0.5;
}
.poem {
  text-align: center;
  line-height: 1.7;
  background-color: #a89389;
  color: #fff;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
}
a {
  text-decoration: none;
  color: #c2b0b6;
}
a:hover {
  color: #544741;
  cursor: pointer;
}
footer {
  text-align: center;
  font-size: small;
  font-weight: 300;
  margin-top: 50px;
  border-top: 3px dotted #a89389;
  color: #544741;
}
